body{
      margin:0;
      padding: 0;
      box-sizing: border-box;
      font-family: cursive;
      color:white;
}

.header{
      background-color:#00609D;
      padding: 5rem;
      background-image: url('Color4.png');
      background-repeat: no-repeat;
      background-position-x: 100%;
      background-position-y: -0px;
      background-size: contain;
}
.header img{
      height: 3rem;
      border-radius: 100%;
      border: solid 4px white;
      vertical-align: middle;
      

}
img+img{
      margin-left: -16px;
}
h1{
      margin: 0px;
      padding-bottom: 1rem;
      font-size: 2rem;
}
span{
      font-size: 1rem;
}